!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    title Timecapsule
    link(rel="stylesheet" text="text/css" href="/foundation.min.css")
    link(rel="stylesheet" text="text/css" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet")
    link(rel="stylesheet" text="text/css" href="/main.min.css")
  body
    .wrap
      .container
    script(src="/main.js")
