!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    title Ident.ico
    link(rel="stylesheet" text="text/css" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css")
    link(rel="stylesheet" text="text/css" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet")
    link(rel="stylesheet" text="text/css" href="/main.min.css")
  body
    .wrap
      include includes/header
      .container
        block content
    include includes/footer
