<section id="sidebar" role="complementary">
  <nav role="navigation">
    <ul class="menu" class="nav-bar">
      <li>
        <a href="/letters/new">
          <i class="icon-pencil"></i>
          New Letter
        </a>
      </li>
      <li>
        <a href="/account">
          <i class="icon-user"></i>
          My Account
        </a>
      </li>
      <li>
        <a href="/logout">
          <i class="icon-signout"></i>
          Log out
        </a>
      </li>
    </ul>
  </nav>
</section>
