header#main-header
  .contain-to-grid
    nav.top-bar
      ul.title-area
        li.name
          h1
            a(href="/")
              i.icon-rocket
              |  Timecapsule
        li.toggle-topbar.menu-icon
          a
            span
      section.top-bar-section
        ul.left
          li.divider
          li
            a(href="/letters/new")
              i.icon-pencil
              |  New Letter
        ul.right
          li
            a#browserid-login
              i.icon-signin
              |  Enter
          li
            a#browserid-logout
              i.icon-signout
              |  Leave
