section#main-mobile-menu
  nav
    ul.menu.nav-bar
      li
        a(href="/letters/new")
          i.icon-pencil
          | New Letter
      li
        a(href="/logout")
          i.icon-signout
          | Leave
