<div class='row'>
  <form class='letter-form large-12 small-12 columns'>
    <div>
      <input id='letter-title' type='text' placeholder='Title...' value='<%= title %>'></input>
    </div>
    <div>
      <textarea id='letter-content' rows='10' placeholder='Content...'><%= content %></textarea>
    </div>
    <div class='row'>
      <div class='small-4 large-2 columns'>
        <input id='letter-month' type='text' placeholder='MM' value='<%= month %>'></input>
      </div>
      <div class='small-4 large-2 columns'>
        <input id='letter-day' type='text' placeholder='DD' value='<%= day %>'></input>
      </div>
      <div class='small-4 large-2 columns end'>
        <input id='letter-year' type='text' placeholder='YYYY' value='<%= year %>'></input>
      </div>
    </div>
    <ul class='button-group'>
      <li><button type='button' class='secondary'>Save</button></li>
      <li><button type='button'>Send Letter</button></li>
    </ul>
  </form>
</div>
