<li class='letter-item'>
  <div class='row' style='background-color: hsl(<%= color %>)'>
    <div class='letter-date large-3 columns'>
      <%= date.day %>
      <%= date.month %>
      <%= date.year %>
    </div>
    <div class='large-9 columns'>
      <a href='/letters/<%= id %>'>
        <h3><%= title %></h3>
      </a>
      <div class='letter-actions'>
        <a href='/letters/<%= id %>'>
          <i class='icon-pencil'></i>
        </a>
        <a href='/letters/<%= id %>'>
          <i class='icon-rocket'></i>
        </a>
        <a href='/letters/<%= id %>'>
          <i class='icon-trash'></i>
        </a>
      </div>
    </div>
  </div>
</li>
