extend ../views/layout

block content
  h1 Log In
  form(action="/login" method="post")
    div
      label Email:
      input(type="text" name="email")
    div
      label Password:
      input(type="password" name="password")
    div
      input.btn.btn-primary.btn-large(type="submit" value="Log In")
