extend ../views/layout

block content
  .row
    .small-6.large-centered.columns
      h2 Log In
      form(action="/login" method="post")
        div
          label Email:
          input(type="text" name="email")
        div
          label Password:
          input(type="password" name="password")
        div
          input.button(type="submit" value="Log In")
