<div><div>
  <div class='contain-to-grid'>
    <nav class='top-bar'>
      <ul class='title-area'>
        <li class='name'>
          <h1><a href='/'>Timecapsule</a></h1>
        </li>
        <li class='toggle-topbar menu-icon'><a href='#'><span></span></a></li>
      </ul>
      <section class='top-bar-section'>
        <ul class='left'>
          <li class='divider'></li>
          <li class='active'>
            <a href='/letters/new'>
              <i class='icon-pencil'></i>
              New Letter
            </a>
          </li>
        </ul>
      </section>
    </nav>
  </div>
  <div id='main' class='container'></div>
</div></div>
