<div>
  <div class='navbar'>
    <div class='container'>
      <a href='/' class='navbar-brand'>
        <i class='icon-time'></i>
        Timecapsule
      </a>
      <ul class='nav navbar-nav'>
        <li>
          <a href='/letters'>
            <i class='icon-envelope-alt'></i>
            Letters
          </a>
        </li>
        <li>
          <a href='/letters/new'>
            <i class='icon-pencil'></i>
            New Letter
          </a>
        </li>
      </ul>
      <ul class='nav navbar-nav pull-right'>
        <li id='entry-login'></li>
        <li id='entry-signup'></li>
      </ul>
    </div>
  </div>
  <div id='main' class='container'></div>
</div>
