extend ../views/layout
block content
  .row
    .span6.home-intro
      p.lead No more <strong>boring</strong> missing <strong>avatars</strong>!
      ul.unstyled.lead-list
        li Generate <strong>colorful</strong> and <strong>unique</strong> avatars for each user.
        li Choose <strong>custom formats</strong> and sizes.
        li No gems, no instalation, <strong>no hassle</strong>!
      .home-intro-action
        a.btn.btn-primary.btn-large(href="/signup") Sign Up Free
    .span6.home-intro-monitor
      .home-intro-screen
        h3 Your Site
        .home-intro-site-example

          .media
            img.pull-left.media-object.thumbnail(src="https://identicons.github.com/f78e49bfb38a051ce4694eb48aa5e67b.png")
            .media-body
              .tooltip.in.right
                .tooltip-arrow
                .tooltip-inner Hey John, how's it going?

          .media.home-intro-site-example-right
            img.pull-right.media-object.thumbnail(src="https://identicons.github.com/44766ebe6d206379a035ca25f3cf230a.png")
            .media-body
              .tooltip.in.left
                .tooltip-arrow
                .tooltip-inner Good and you? Cool pic btw!

          .media
            img.pull-left.media-object.thumbnail(src="https://identicons.github.com/225616340283f0246bc86ba41e33ee91.png")
            .media-body
              .tooltip.in.right
                .tooltip-arrow
                .tooltip-inner Hey guys! :)

  .home-sample
    h2 How to Use
    .row
      .span6
        section
          p
            i.icon-picture.icon-large
            | Create an avatar using an unique id
          pre
            &lt;img href="http://identico.io/?id=<strong>john@gmail.com</strong>" /&gt;
        section
          p
            i.icon-crop.icon-large
            | Choose an image dimension
          pre
            &lt;img href="http://identico.io/?id=john@gmail.com&<strong>dimension=40</strong>" /&gt;
        section
          p
            i.icon-adjust.icon-large
            | Chance default theme
          pre
            &lt;img href="http://identico.io/?id=john@gmail.com&<strong>theme=dark</strong>" /&gt;
        a.btn.btn-primary.btn-large(href="/docs")
          i.icon-book
          strong Full Documentation

